<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="2.1" package="com.mentaledge" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="30" />
	<application android:icon="@drawable/playstore" android:theme="@style/MainTheme"></application>
</manifest>